{% extends "main.html" %}
{% block content %}
{{id}}
{{Name}}
{{CreatorID}}
{{CreatorName}}
{{description}}
{{location}}
<div class='ifBooking'>{{booking}}</div>
{{timeFrom}}
{{timeTo}}
{% if placeNum > '0' %}
  {{placeNum}}
  {{numOfGoing}}
{% endif %}
<br/>
Going?
{% if Going %}
<div id="EvAttend{{id}}"><button type="button" onclick="attend({{id}})" class="btn btn-info">Yes</button></div>
{% endif %}
<div id="EvHide{{id}}"><button type="button" onclick="hide({{id}})" class="btn btn-info">Hide</button></div>

{% endblock %}
