{% extends "main.html" %}
{% block content %}
<title>Eventak</title>
    <h1><B><I><u><p>Upcoming Events:</p></u></I></B></h1>
    <!-- Automatic Slideshow Images -->

    {% for Event in Events %}
    <div class="mySlides w3-display-container w3-center">
      <div style="height:{{biggest_height}}px"><img src="/static/{{Event.img}}" class="EventImg" style="max-width:100%; height:auto; max-height:inherit;"></div>
      <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
        <h3>{{Event.name}}</h3>
        <p><b>{{Event.loc}}</b></p>
      </div>
    </div>
    {% endfor %}


        {{login.UserInfo}}

    <h1><B><I><u><p>Hot Events:</p></u></I></B></h1>
    <br/>
    <div class="w3-row-padding">

    </div>
    <div class="row divider events">
    {% for Event in Events %}
    <div class="col-4 container w3-margin-bottom">
      <img src="/static/{{Event.img}}" alt="Cairo festival city" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white"><br/>
        <p><b>{{Event.name}}</b></p>
        <p>{{Event.desc}}</p>
		<form action="buy.html">
		<button class="w3-button w3-block w3-black w3-padding-16 w3-section w3-right">Buy ticket<i class="fa fa-check"></i></button>
		</form>
      </div>
    </div>
    {% endfor %}
    </div>
    <script>

    </script>


{% endblock %}
