{% extends "main.html" %}
{% block content %}
<h1 class="title">Sign in</h1>
<form method="post" action="/login/">{% csrf_token %}
  <label for="username">Email or Username: </label><input type="text" placeholder="Email or Password..." name="username"/><br/>
  <label for="password">Password: </label><input type="password" placeholder="Password.." name="password"/><br/>
  <input type="submit" value="login"/>
</form>
{{users.0.username}}
{{users.0.passwordHash}}
{{users.0.email}}

<!-- google, facebook, and other login api's will be here -->
{% endblock %}
