<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.html" %}
  </head>
	<body>
    <div id="map"></div>
    {% include "header.html" %}
    <div class="row divider" id="main">
      <div class="col-md-2 bg-light" onclick="OpenCloseMap()" style="opacity: 0.0"></div>
      <div class="col-md-8 bg-secondary" height="100%">
        <div class="col-md-1"></div>
        <div class="col-md-12 bg-secondary" id="loadbasic">
        {% block content %}
			  {% endblock %}
        </div>
        <div class="col-md-1"></div>
      </div>
      <div class="col-md-2 bg-light" onclick="OpenCloseMap()" style="opacity: 0.0"></div>
		</div>
	</body>
  <script>
    var map;
    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 30.057193, lng: 31.348490},
        zoom: 13,
        styles: [
          {elementType: 'geometry', stylers: [{color: '#242f3e'}]},
          {elementType: 'labels.text.stroke', stylers: [{color: '#242f3e'}]},
          {elementType: 'labels.text.fill', stylers: [{color: '#746855'}]},
          {
            featureType: 'administrative.locality',
            elementType: 'labels.text.fill',
            stylers: [{color: '#d59563'}]
          },
          {
            featureType: 'poi',
            elementType: 'labels.text.fill',
            stylers: [{color: '#d59563'}]
          },
          {
            featureType: 'poi.park',
            elementType: 'geometry',
            stylers: [{color: '#4d8066'}]
          },
          {
            featureType: 'poi.park',
            elementType: 'labels.text.fill',
            stylers: [{color: '#6b9a76'}]
          },
          {
            featureType: 'road',
            elementType: 'geometry',
            stylers: [{color: '#38414e'}]
          },
          {
            featureType: 'road',
            elementType: 'geometry.stroke',
            stylers: [{color: '#212a37'}]
          },
          {
            featureType: 'road',
            elementType: 'labels.text.fill',
            stylers: [{color: '#9ca5b3'}]
          },
          {
            featureType: 'road.highway',
            elementType: 'geometry',
            stylers: [{color: '#746855'}]
          },
          {
            featureType: 'road.highway',
            elementType: 'geometry.stroke',
            stylers: [{color: '#1f2835'}]
          },
          {
            featureType: 'road.highway',
            elementType: 'labels.text.fill',
            stylers: [{color: '#f3d19c'}]
          },
          {
            featureType: 'transit',
            elementType: 'geometry',
            stylers: [{color: '#2f3948'}]
          },
          {
            featureType: 'transit.station',
            elementType: 'labels.text.fill',
            stylers: [{color: '#d59563'}]
          },
          {
            featureType: 'water',
            elementType: 'geometry',
            stylers: [{color: '#17263c'}]
          },
          {
            featureType: 'water',
            elementType: 'labels.text.fill',
            stylers: [{color: '#515c6d'}]
          },
          {
            featureType: 'water',
            elementType: 'labels.text.stroke',
            stylers: [{color: '#17263c'}]
          }
        ]
      });
    }


    $(window).bind("load", function() {
      document.getElementById("map").style.position = 'fixed';
    });

    function OpenCloseMap(){
      if($("#main").css("display")=="none"){
        $("#main").css("display","flex");
      }
      else{
        $("#main").css("display","none");
      }
    }

    var curPage = "/index/";
    $("#loadbasic").load("/index/");

    $(document).ready(function(){
      var myIndex = 0;
      carousel();

      function carousel() {
          var i;
          var x = document.getElementsByClassName("mySlides");
          for (i = 0; i < x.length; i++) {
             x[i].style.display = "none";
          }
          myIndex++;
          if (myIndex > x.length) {myIndex = 1}
          x[myIndex-1].style.display = "block";
          setTimeout(carousel, 2000);
      }

      // Used to toggle the menu on small screens when clicking on the menu button
      function myFunction() {
          var x = document.getElementById("navDemo");
          if (x.className.indexOf("w3-show") == -1) {
              x.className += " w3-show";
          } else {
              x.className = x.className.replace(" w3-show", "");
          }
      }

      // When the user clicks anywhere outside of the modal, close it
      var modal = document.getElementById('ticketModal');
      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }

      $("#index").click(function(){
        if (curPage != "/index/"){
          curPage = "/index/";
          $("#loadbasic").load("/index/");
        }
      });
      $("#login").click(function(){
        if (curPage != "/login/"){
          curPage = "/login/";
          $("#loadbasic").load("/login/");
        }
      });
    });

  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5BEaYPvpke0l_9Fc8ddAe2OmxQmxAp8g&callback=initMap"
  async defer></script>
</html>
