<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.html" %}
  </head>
	<body>
    {% include "header.html" %}
		<div class="row divider">
      <div class="col-md-2 bg-light"></div>
      <div class="col-md-8 bg-secondary">
        <div class="col-md-1"></div>
        <div class="col-md-12 bg-secondary">
        {% block content %}
			  {% endblock %}
        </div>
        <div class="col-md-1"></div>
      </div>
      <div class="col-md-2 bg-light"></div>
		</div>
	</body>
</html>
