<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.html" %}
  </head>
    <div id="map"></div>
    {% include "header.html" %}
    <div class="row divider" id="main">
      <div class="col-md-2 bg-light" onclick="OpenCloseMap()" style="opacity: 0.0"></div>
      <div class="col-md-8 bg-secondary main" height="100%">
        <div class="col-md-1"></div>
        <div class="col-md-12 bg-secondary" id="loadbasic">

        </div>
        <div class="col-md-1"></div>
      </div>
      <div class="col-md-2 bg-light" onclick="OpenCloseMap()" style="opacity: 0.0"></div>
		</div>
	</body>
  <script>
    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
    var map, infoWindow, markerInd=1, activeEventsMarkers = [];
    function initMap() {
      infoWindow = new google.maps.InfoWindow;
      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 30.057193, lng: 31.348490},
        zoom: 13,
	disableDoubleClickZoom: true,
        streetViewControl:false,
        fullscreenControl: false,
        mapTypeControlOptions: {
          position: google.maps.ControlPosition.LEFT_CENTER,
          style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
        },
        styles: [
          {elementType: 'geometry', stylers: [{color: '#242f3e'}]},
          {elementType: 'labels.text.stroke', stylers: [{color: '#242f3e'}]},
          {elementType: 'labels.text.fill', stylers: [{color: '#746855'}]},
          {
            featureType: 'administrative.locality',
            elementType: 'labels.text.fill',
            stylers: [{color: '#d59563'}]
          },
          {
            featureType: 'poi',
            elementType: 'labels.text.fill',
            stylers: [{color: '#d59563'}]
          },
          {
            featureType: 'poi.park',
            elementType: 'geometry',
            stylers: [{color: '#4d8066'}]
          },
          {
            featureType: 'poi.park',
            elementType: 'labels.text.fill',
            stylers: [{color: '#6b9a76'}]
          },
          {
            featureType: 'road',
            elementType: 'geometry',
            stylers: [{color: '#38414e'}]
          },
          {
            featureType: 'road',
            elementType: 'geometry.stroke',
            stylers: [{color: '#212a37'}]
          },
          {
            featureType: 'road',
            elementType: 'labels.text.fill',
            stylers: [{color: '#9ca5b3'}]
          },
          {
            featureType: 'road.highway',
            elementType: 'geometry',
            stylers: [{color: '#746855'}]
          },
          {
            featureType: 'road.highway',
            elementType: 'geometry.stroke',
            stylers: [{color: '#1f2835'}]
          },
          {
            featureType: 'road.highway',
            elementType: 'labels.text.fill',
            stylers: [{color: '#f3d19c'}]
          },
          {
            featureType: 'transit',
            elementType: 'geometry',
            stylers: [{color: '#2f3948'}]
          },
          {
            featureType: 'transit.station',
            elementType: 'labels.text.fill',
            stylers: [{color: '#d59563'}]
          },
          {
            featureType: 'water',
            elementType: 'geometry',
            stylers: [{color: '#17263c'}]
          },
          {
            featureType: 'water',
            elementType: 'labels.text.fill',
            stylers: [{color: '#515c6d'}]
          },
          {
            featureType: 'water',
            elementType: 'labels.text.stroke',
            stylers: [{color: '#17263c'}]
          }
        ]
      });
      var clickHandler = new ClickEventHandler(map);
      map.addListener('dblclick', function(e) {
        marker = placeMarkerAndPanTo(e.latLng, map);
        markerInd++;
        var infowindow = new google.maps.InfoWindow({
          content: '<div id="mark'+markerInd+'" ><button type="button" class="btn btn-info" onclick="createEv('+e.latLng.lng()+','+e.latLng.lat()+','+markerInd+')">Create Event</button></div>',
          marker:marker,
        });

        setTimeout(function(){
		infowindow.open(map, marker)
	},550);
        google.maps.event.addListener(infowindow,'closeclick',function(){
           infowindow.marker.setMap(null);
        });
      });

      if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            infoWindow.setPosition(pos);
            infoWindow.setContent('Location found.');
            infoWindow.open(map);
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
        function toggleStreetView() {
          var toggle = panorama.getVisible();
          if (toggle == false) {
            panorama.setVisible(true);
          } else {
            panorama.setVisible(false);
          }
        }
    }

    $.ajax({
        url: '/active/'/*+ $(this).parent().attr('id')*/,
        type: 'GET',
        success: function(result) {
          for(var i = 0; i<result['ev'].length; i++){
            if(result['ev'][i]['show']=='true'){
              var myLatLng = {
                "lat": Number(result['ev'][i]['Map']['locLat']),
                "lng": Number(result['ev'][i]['Map']['locLong'])
              };
  	    /*var infowindow = new google.maps.InfoWindow({
                content: '<div>Hola</div>'
              });*/
        	    activeEventsMarkers[i] = new google.maps.Marker({
            		position: myLatLng,
            		map: map,
                evID: result['ev'][i]['id'],
          	  });
  	console.log(activeEventsMarkers[i].evID);
        	    activeEventsMarkers[i].addListener('click', function() {
  	      var m = this;
  	      console.log(m.evID);
                $.ajax({
                    url: '/EventView/'/*+ $(this).parent().attr('id')*/,
                    type: 'GET',
                    data: {'evID': m.evID},
                    success: function(result) {
  			console.log('in');
                      var infowindow = new google.maps.InfoWindow({
                    		content: result,
                  	  });
                      infowindow.open(map, m);
                    },
                  });

              });
            }
          }
        }
    });

    function attend(id){
      $.ajax({
          url: '/attend/',
          type: 'POST',
          data: {
            'evID':id,
          },
          headers: {'X-CSRFToken':'{{ csrf_token }}'},
          success: function(result) {
            console.log(result);
                $("#EvAttend"+id).html(result);
          }
      });
    }

    function hide(id){
      $.ajax({
          url: '/EventHide/'+id+'/',
          type: 'DELETE',
          headers: {'X-CSRFToken':'{{ csrf_token }}'},
          success: function(result) {
            console.log(result);
                $("#EvHide"+id).html(result);
          }
      });
    }

    var ClickEventHandler = function(map) {
        this.map = map;
	this.placesService = new google.maps.places.PlacesService(map);
        this.infowindow = new google.maps.InfoWindow;
        this.infowindowContent = document.getElementById('infowindow-content');
        this.infowindow.setContent(this.infowindowContent);

        // Listen for clicks on the map.
        this.map.addListener('click', this.handleClick.bind(this));
      };

      ClickEventHandler.prototype.handleClick = function(event) {
        if (event.placeId) {
          console.log('You clicked on place:' + event.placeId);
          event.stop();
          this.getPlaceInformation(event.placeId);
        }
      };

      ClickEventHandler.prototype.getPlaceInformation = function(placeId) {
        var me = this;
        this.placesService.getDetails({placeId: placeId}, function(place, status) {
          if (status === 'OK') {
	    markerInd++;
            me.infowindow.close();
	    me.infowindow.setPosition(place.geometry.location);
            me.infowindow.setContent('<div id="mark'+markerInd+'" > <img id="place-icon" src="'+place.icon+'" height="16" width="16"> <span id="place-name" class="title">'+ place.name+'</span><span id="place-address">'+place.formatted_address+'</span><br/><button type="button" class="btn btn-info" onclick="createEv('+me.infowindow.getPosition().lng()+','+me.infowindow.getPosition().lat()+','+markerInd+')">Create Event</button></div>');
            me.infowindow.open(me.map);
          }
        });
      };

    function placeMarkerAndPanTo(latLng, map) {
      var marker = new google.maps.Marker({
        position: latLng,
        map: map,
	animation: google.maps.Animation.DROP,
      });

      map.panTo(latLng);
      return marker;
    }

    $(window).bind("load", function() {
      document.getElementById("map").style.position = 'fixed';
    });

    function OpenCloseMap(){
      if($("#main").css("display")=="none"){
        $("#main").css("display","flex");
      }
      else{
        $("#main").css("display","none");
      }
    }

    function login(){
      $.ajax({
          url: '/login/',
          data: {
            'username':$('.username').val(),
            'password':$('.password').val(),
          },
          type: 'POST',
          headers: {'X-CSRFToken':'{{ csrf_token }}'},
          success: function(result) {
            alert(result['login']);
	    if(result['login']=='fail'){
              alert("wrong username or Password");
            }
            else{
              setTimeout(function(){
               window.location.reload(1);
            }, 500);
            }
          }
        });
    }

    function createEv(lng,lat,mark){
      $.ajax({
          url: '/EventCreate/'/*+ $(this).parent().attr('id')*/,
          data: {
            'lng':lng,
            'lat':lat,
	    'mark':mark
          },
          type: 'GET',
          success: function(result) {
            $("#mark"+mark).html(result);
            $("#postCreation").click(function(){
              $.ajax({
                  url: '/EventCreate/',
                  type: 'POST',
                  data: {
                    'EventName':$('EventName').val(),
                    'description':$('EventName').val(),
                    'location':$('EventName').val(),
                    'city':$('EventName').val(),
                    'Date_From':$('Date_From').val(),
                    'Date_To':$('Date_To').val(),
                  },
                  headers: {'X-CSRFToken':'{{ csrf_token }}'},
                  success: function(result) {
                      $("#mark"+mark).html("Event Created");
                  }
              });
            });
          }
      });
    }

    $(".nav-link").click(function(){
      if($("#main").css("display")=="none"){
        $("#main").css("display","flex");
      }
    });

    $(".btn").click(function(){
      if($(this).parent().parent().parent().hasClass('navbar')){
        if($("#main").css("display")=="none"){
          $("#main").css("display","flex");
        }
      }
    });

    var curPage = "/index/";
    $("#loadbasic").load("/index/");

    $(document).ready(function(){
      var myIndex = 0;
      var curPage = "/index/";
      $("#loadbasic").load("/index/");
      carousel();
      function carousel() {
          if(curPage=="/index/"){
          var i;
          var x = document.getElementsByClassName("mySlides");
          for (i = 0; i < x.length; i++) {
             x[i].style.display = "none";
          }
          myIndex++;
          if (myIndex >= x.length) {myIndex = 0}
          if(x.length>0) x[myIndex].style.display = "block";
  }
  setTimeout(carousel, 2000);
      }

      // Used to toggle the menu on small screens when clicking on the menu button
      function myFunction() {
          var x = document.getElementById("navDemo");
          if (x.className.indexOf("w3-show") == -1) {
              x.className += " w3-show";
          } else {
              x.className = x.className.replace(" w3-show", "");
          }
      }

      // When the user clicks anywhere outside of the modal, close it
      var modal = document.getElementById('ticketModal');
      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }

      $("#index").click(function(){
        if (curPage != "/index/"){
          curPage = "/index/";
          $("#loadbasic").load("/index/");
        }
      });

      $("#Register").click(function(){
        if (curPage != "/signup/"){
          curPage = "/signup/";
          $("#loadbasic").load("/signup/");
        }
      });

      $("#evCreate").click(function(){
        if (curPage != "/EventCreate/"){
          curPage = "/EventCreate/";
          $("#loadbasic").load(curPage);
        }
      });

      $("#Artists").click(function(){
        if (curPage != "/displayArtists/"){
          curPage = "/displayArtists/";
          $("#loadbasic").load(curPage);
        }
      });

      $("#login").click(function(){
        if (curPage != "/login/"){
          if ($('#loginBut').text() != "Logout"){
            curPage = "/login/";
            $("#loadbasic").load("/login/");
            var main = document.getElementById("loadbasic");
            input.addEventListener("keyup", function(event) {
              if (event.keyCode === 13) {
               event.preventDefault();
               document.getElementById("myBtn").click();
              }
            });
          }
          else{
            $("#loadbasic").load("/login/");
            setTimeout(function(){
               window.location.reload(1);
            }, 500);
          }
        }

      });
      $("#myRes").click(function(){
        if (curPage != "/myReservations/"){
          curPage = "/myReservations/";
          $.ajax({
              url: '/myReservations/'/*+ $(this).parent().attr('id')*/,
              type: 'GET',
              success: function(result) {
                $("#loadbasic").html(result)
                alert("pass");
                $(".cancelRes").click(function(){
                  var elem = $(this).parent().parent().attr('id');
                  alert(elem);
                  $.ajax({
                      url: '/cancelRes/' + elem + '/',
                      type: 'DELETE',
                      headers: {'X-CSRFToken':'{{ csrf_token }}'},
                      success: function(result) {
                          $("#"+elem).html(result['request']);
			alert(result['request']);
                      }
                  });
                });
              }
          });
        }
      });
      $("#myEv").click(function(){
        if (curPage != "/myEvents/"){
          curPage = "/myEvents/";
          $.ajax({
              url: '/myEvents/'/*+ $(this).parent().attr('id')*/,
              type: 'GET',
              success: function(result) {
                $("#loadbasic").html(result)
                alert("pass");
                $(".deleteEv").click(function(){
                  var elem = $(this).parent().parent().attr('id');
                  alert(elem);
                  $("#"+elem).remove();
                  $.ajax({
                      url: '/cancelEv/' + elem + '/',
                      type: 'DELETE',
                      headers: {'X-CSRFToken':'{{ csrf_token }}'},
                      success: function(result) {
                          $("#"+elem).remove();
                      }
                  });
                });
              }
          });
        }
      });
    });

    /*
    infoWindow = new google.maps.InfoWindow;
      if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            infoWindow.setPosition(pos);
            infoWindow.setContent('Location found.');
            infoWindow.open(map);
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
      }
    }


    $(window).bind("load", function() {
      document.getElementById("map").style.position = 'fixed';
    });

    function OpenCloseMap(){
      if($("#main").css("display")=="none"){
        $("#main").css("display","flex");
      }
      else{
        $("#main").css("display","none");
      }
    }

    $(document).ready(function(){
      var myIndex = 0;
      var curPage = "/index/";
      $("#loadbasic").load("/index/");
      carousel();
      function carousel() {
          if(curPage=="/index/"){
          var i;
          var x = document.getElementsByClassName("mySlides");
          for (i = 0; i < x.length; i++) {
             x[i].style.display = "none";
          }
          myIndex++;
          if (myIndex >= x.length) {myIndex = 0}
          if(x.length>0) x[myIndex].style.display = "block";
	}
	setTimeout(carousel, 2000);
      }

      // Used to toggle the menu on small screens when clicking on the menu button
      function myFunction() {
          var x = document.getElementById("navDemo");
          if (x.className.indexOf("w3-show") == -1) {
              x.className += " w3-show";
          } else {
              x.className = x.className.replace(" w3-show", "");
          }
      }

      // When the user clicks anywhere outside of the modal, close it
      var modal = document.getElementById('ticketModal');
      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }

      $("#index").click(function(){
        if (curPage != "/index/"){
          curPage = "/index/";
          $("#loadbasic").load("/index/");
        }
      });
      $("#login").click(function(){
        if (curPage != "/login/"){
          curPage = "/login/";
          $("#loadbasic").load("/login/");
        }
      });
    });
    */

  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCKv24BQOEifQohzvlB4frgAR4BQaPoQ-Y&libraries=places&callback=initMap"
  async defer></script>
</html>
