{% extends "main.html" %}
{% block content %}
<div>
  {% for event in Events %}
  <div class="item">
    <div id="Ev{{event.id}}">
      {{event.name}}
      {{event.Description}}
      {{event.location}}
      <div id="{{event.reservationsId}}" class="updateSection">
        <label>{{event.reservationQuantity}}</label>
        <button type="button" onclick="friendInviteList({{event.id}})">invite</button>
        <div id="friendsToInvite{{event.id}}"></div>
        <button type="button" class="cancelRes" name="cancelRes">Cancel Reservations</button>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<br/>

{% endblock %}
